/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define NUM 1
#define SYM 2
#define SYS 3
#define NAV 4

/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <280>;
            bindings = <&kp SPACE>, <&kp ENTER>;
        };
    };





        keymap {
                compatible = "zmk,keymap";

                BASE {

                        bindings = <
//        1 ' "    2     3     4     5       6     7      8      9      10  ; :           
        &kp SQT  &kp I &kp G &kp R &kp P   &kp Y &kp D  &kp O  &kp M   &kp SEMI    
//       11       12    13    14    15      16    17     18     19      20            
        &kp Z    &kp S &kp E &kp A &kp F   &kp B &kp T  &kp N  &kp H   &kp Q
//       21 !     22    23    24    25      26    27     28     29      30  / ?
        &kp EXCL &kp X &kp C &kp V &kp J   &kp K &kp L  &kp W  &kp U   &kp FSLH 
//               31     32      33         34       35      36                 
              &trans  &td0 &kp COMMA     &kp DOT &kp BSPC &trans
                        >;
            };
                NUM {
                        bindings = <
   /*        *          1           2           3        -                 F1        F2         F3         F4        F5 */
           &kp STAR   &kp N1     &kp N2     &kp N3    &kp KP_MINUS     &kp F1    &kp F2     &kp F3     &kp F4    &kp F5
         /*    .        4           5           6        +                 F6        F7         F8         F9        F10  */
          &kp DOT     &kp N4     &kp N5     &kp N6    &kp KP_PLUS      &kp F6    &kp F7     &kp F8     &kp F9    &kp F10
         /*    /        7           8           9        =                F11        F12                                 */
            &kp FSLH  &kp N7    &kp N8     &kp N9     &kp EQUAL        &kp F11   &kp F12    &trans     &trans     &trans
                                                    /*   0                      */
                                           &trans &trans &kp N0           &trans &trans &trans
                           >;
             };

                SYM {
                        bindings = <
              /*             [          {           :         *               ~       ;           }        ]  */
                       &kp LBKT   &kp LBRC   &kp COLON &kp ASTRK      &kp TILDE  &kp SEMI    &kp RBRC  &kp RBKT
           /*    |       @           #           $        "               '          .           ,      /       `  */
             &kp PIPE  &kp AT     &kp HASH   &kp DLLR   &kp DQT        &kp SQT   &kp DOT     &kp COMMA &kp FSLH  &kp GRAVE
           /*            %           ^           &          <            >           -           =        \      */  
                       &kp PRCNT  &kp CARET  &kp AMPS   &kp LT          &kp GT   &kp KP_MINUS &kp EQUAL &kp BSLH
                       /*                                 !                ?             */
                                                       &kp EXCL         &kp QMARK
                        >;
                };
        };
};

